@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* abbreviations */
abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}
/* end of abbreviations */

/* letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end of letters */

/* custom */
#dedication,
#a-start-in-life {
	margin-top: 20vh;
}

#a-start-in-life blockquote div {
	margin-left: 50%;
	text-align: initial;
}

#a-start-in-life blockquote div p{
	padding-left: 1em;
	text-indent: -1em;
}
/* end of custom */